# Keil 编译中间文件
*.o
*.d
*.crf
*.lst
*.lnp
*.axf
*.htm
*.build_log.htm
*.dep
*.iex
*.i

# Keil IDE 本地配置
*.uvguix.*
*.uvoptx
*.scvd

# 输出目录
**/Objects/
**/Listings/
**/DebugConfig/
MDK-ARM/DebugConfig/
MDK-ARM/RTE/

# 二进制文件（可选）
*.hex
*.bin

# 调试日志
JLinkLog.txt
*.dbgconf

# 系统文件
.DS_Store
Thumbs.db
*.bak